<html lang="en">

<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link href="includes/css/bootstrap.min.css" rel="stylesheet">
  <link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!-- Custom CSS -->
  <link href="includes/css/styles.css" rel="stylesheet">

  <!-- Include Modernizr in the head, before any other Javascript -->
  <script src="includes/js/modernizr-2.6.2.min.js"></script>

  </head>

<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
  {{hello}}
<p>======</p>
  <!-- Single button -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Split button -->
<p>=====</p>


  <form>
    <md-card>
      <md-input-container class="md-block">
        <label>Tweet here</label>
        <textarea ng-model="user.biography" md-maxlength="140" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <md-card-title>Date here
      </md-card-title>
      <md-card-actions>
        <md-button class="md-raised md-primary">save</md-button>
        <md-button class="md-raised md-primary">Schedule </md-button>
      </md-card-actions>
    </md-card>

  </form>

  <md-card ng-repeat="t in myTweet" >
      <md-input-container class="md-block">
       
      <md-card-title >{{t.tweet}} and status: {{t.status}} </md-card-title>
      <md-card-actions>
        <md-button class="md-raised md-primary">save</md-button>
        <md-button class="md-raised md-primary">Delete</md-button>

        <md-button class="md-raised md-primary">Re-Schedule </md-button>
      </md-card-actions>
    </md-card>
 

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <!-- All Javascript at the bottom of the page for faster page loading -->

    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>

    <!-- Bootstrap JS -->
    <script src="includes/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="includes/ajs/ui-bootstrap-tpls.min.js"></script>
<!-- Personal js file
 -->  <script src="authCtrl/authController.js"></script>

<!-- <script type="text/javascript" src="./js/demo.js"></script>
 -->
</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->